Source: autojump
Section: shells
Priority: optional
Maintainer: Tanguy Ortolo <tanguy+debian@ortolo.eu>
Build-Depends:
    debhelper (>= 11),
    dh-python,
    python3
Standards-Version: 4.1.4
Homepage: https://github.com/wting/autojump
Vcs-Git: https://git.ortolo.eu/pkg-autojump.git
Vcs-Browser: https://git.ortolo.eu/pkg-autojump.git

Package: autojump
Architecture: all
Depends:
    ${misc:Depends},
    ${python3:Depends},
    python3 (>= 3.2)
Enhances: bash (>= 4.0), zsh, fish, tcsh
Description: shell extension to jump to frequently used directories
 autojump provides a faster way to navigate your filesystem, with a
 "cd command that learns".
 .
 It works by maintaining a database of the directories you use the most from
 the command line, and allows you to "jump" to frequently used directories by
 typing only a small pattern.
 .
 To use autojump, you need to configure your shell to source
 /usr/share/autojump/autojump.sh on startup.
